<div class="budget-display card mt-3 shadow p-3 mb-5 bg-body rounded w-10">
    <div class="budget-display list-group  card d-flex  p-3 w-10 gap-10">
      <h6 class="card-title">Name: <%= budget.name %></h6>
      <h6 class="card-title">Amount: <%= number_to_currency(budget.amount) %></h6>
      <div class="d-flex gap-4">
        <%= button_to "Delete budget", user_group_budget_path(current_user, @group, budget), method: :delete, class: 'btn btn-danger p-2' %>
      </div>
    </div> 
</div>